# {{ ansible_managed }}

{% for pool in common_ntp_pools %}
pool {{ pool }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
keyfile /etc/chrony/chrony.keys
logdir /var/log/chrony

# Never step the clock by more than this once the system is running
maxupdateskew 100.0

# Step the clock on the first updates if it is off by more than 1 second
makestep 1 3

# Keep the hardware clock in sync
rtcsync

leapsectz right/UTC
